<link href="/css/rankcard.css" rel="stylesheet">

<body>
    <script>
        var colors = ["#10f819 0%, #00f0ff 100%", "#fffc00 0%, #ff8a00 100%", "#8700ff 0%, #00f0ff 100%", "#ff0000 0%, #cc00ff 100%", "#0003ff 0%, #00f0ff 100%", "#c9ff30 0%, #eb00ff 100%"]
        let color = colors[Math.floor(Math.random() * colors.length)];
    
        document.body.style = `background-image: linear-gradient(to right, ${color});`
    </script>
    <div class="rankcard">

    <img class="profilepic" src="<%= member.info.pic %>  " alt="Member Profile Picture" style="border-radius: 50%;">

    <div class="infos">
    <h2 class="es">Eat, Sleep Rankcard</h2>
    <h1 class="tag"><%= member.info.tag %> </h1>
    <h2 class="rank">Level: <%= member.ranks.rank %></h3>
    <h2 class="xp">XP: <%= member.ranks.xp %>/<%= member.ranks.nextxp %> </h3>
    </div>
</div></body>

