<h1>Ranking List</h1>

<div class="list">
  <ul>
      {{#each member}}
      {{#if this.info.name}}
      {{#if this.info.picture}}
    <li>
      <img class="pb" src="{{this.info.picture}}" />

      {{#if this.first}}<h3 style="color: #d4af37;"><i class="fas fa-medal"></i> {{this.info.name}}</h3>{{else}}
      {{#if this.second}}<h3 style="color: #aaa9ad;"><i class="fas fa-medal"></i> {{this.info.name}}</h3>{{else}}
      {{#if this.third}}<h3 style="color: #cd7f32;"><i class="fas fa-medal"></i> {{this.info.name}}</h3>
      {{else}}
      <h3>({{this.ranking}}) {{this.info.name}}</h3>
     {{/if}}
     {{/if}}
     {{/if}}
     

      <p>Level: {{this.ranks.rank}}</p>
      <p>XP: {{this.ranks.xp}}</p>
    </li>
      {{/if}}
      {{/if}}
    {{/each}}
    
      
    
  </ul>
</div>
<style>
.list * {margin: 2; padding: 0; }
.list { margin-left: -20px; }

 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
li img {
  float: left;
  margin: 0 0 0 0;
}
 
li {
  padding: 1px;
  overflow: auto;
}

    .pb{
    height: 100px;
    width: 100px;
    }
</style>


